:root {
    --hue-favorable: 120;
    --hue-moderate: 60;
    --hue-severe: 0;
}

.favorable {
    --hue: var(--hue-favorable);
}

.moderate {
    --hue: var(--hue-moderate);
}

.severe {
    --hue: var(--hue-severe);
}